@import "tailwindcss";

body {
  font-family: var(--font-nunito);
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide number input spinners in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
p,h1,h2,h3,h4,h5,h6 ,img,svg,button,a {
  -webkit-user-drag: none;
  user-select: none;
}